<div style="display: flex; align-items: center; width: 100%; margin: 20px 0;padding-top:00px">
    <span style="border-top: 1px solid #696969;flex:0.05 "></span>
    <h1
        style="margin: 0; padding: 0 10px; white-space: nowrap; font-size: 30px; color: #f6290e;font-family: 'Quicksand', sans-serif;font-weight:bold">
        Mua nhiều nhất
    </h1>
    <span style="border-top: 1px solid #696969; flex: 1;"></span>
</div>

<div>
    <div class="product-grid">
        {{#each hots}}
        <div class="product-card">
            <a href="/product/{{this.product_id}}" class="product-image">
                <img src="{{this.mainImg}}" class="img-fluid" alt="{{this.name}}">
            </a>
            <div class="product-body">
                <p class="product-name">{{this.name}}</p>
                <p class="product-price">{{formatPrice this.price}}₫</p>
                <button class="buy-button" onclick="themNhanh({{this.product_id}})">
                    <i class="fas fa-shopping-bag"></i> THÊM VÀO GIỎ
                </button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div>
    <div style="display: flex; align-items: center; width: 100%; margin: 20px 0;padding-top:10px">
        <span style="border-top: 1px solid #696969;flex:0.05 "></span>
        <h1
            style="margin: 0; padding: 0 10px; white-space: nowrap; font-size: 30px; color: #f68d0e;font-family: 'Quicksand', sans-serif;font-weight:bold">
            Giỏ trái cây
        </h1>
        <span style="border-top: 1px solid #696969; flex: 1;"></span>
    </div>
</div>
<div>
    <div class="product-grid">
        {{#each gio_trai_cay}}
        <div class="product-card">
            <a href="/product/{{this.product_id}}" class="product-image">
                <img src="{{this.mainImg}}" class="img-fluid" alt="{{this.name}}">
            </a>
            <div class="product-body">
                <p class="product-name">{{this.name}}</p>
                <p class="product-price">{{formatPrice this.price}}₫</p>
                <button class="buy-button" onclick="themNhanh({{this.product_id}})">
                    <i class="fas fa-shopping-bag"></i> THÊM VÀO GIỎ
                </button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div style="display: flex; align-items: center; width: 100%; margin: 20px 0;padding-top:10px">
    <span style="border-top: 1px solid #696969;flex:0.05 "></span>
    <h1
        style="margin: 0; padding: 0 10px; white-space: nowrap; font-size: 30px; color: #f68d0e;font-family: 'Quicksand', sans-serif;font-weight:bold">
        Trái cây
    </h1>
    <span style="border-top: 1px solid #696969; flex: 1;"></span>
</div>

<div>
    <div class="product-grid">
        {{#each trai_cay}}
        <div class="product-card">
            <a href="/product/{{this.product_id}}" class="product-image">
                <img src="{{this.mainImg}}" class="img-fluid" alt="{{this.name}}">
            </a>
            <div class="product-body">
                <p class="product-name">{{this.name}}</p>
                <p class="product-price">{{formatPrice this.price}}₫</p>
                <button class="buy-button" onclick="themNhanh({{this.product_id}})">
                    <i class="fas fa-shopping-bag"></i> THÊM VÀO GIỎ
                </button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div style="display: flex; align-items: center; width: 100%; margin: 20px 0;padding-top:10px">
    <span style="border-top: 1px solid #696969;flex:0.05 "></span>
    <h1
        style="margin: 0; padding: 0 10px; white-space: nowrap; font-size: 30px; color: #f68d0e;font-family: 'Quicksand', sans-serif;font-weight:bold">
        Rau củ
    </h1>
    <span style="border-top: 1px solid #696969; flex: 1;"></span>
</div>

<div>
    <div class="product-grid">
        {{#each rau_cu}}
        <div class="product-card">
            <a href="/product/{{this.product_id}}" class="product-image">
                <img src="{{this.mainImg}}" class="img-fluid" alt="{{this.name}}">
            </a>
            <div class="product-body">
                <p class="product-name">{{this.name}}</p>
                <p class="product-price">{{formatPrice this.price}}₫</p>
                <button class="buy-button" onclick="themNhanh({{this.product_id}})">
                    <i class="fas fa-shopping-bag"></i> THÊM VÀO GIỎ
                </button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="modal fade" id="alertModal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"
            style="position:relative; display: flex; align-items: center; justify-content: center;">
            <span class="closexxx"
                style="position:absolute; right:10px; top:5px; font-size: 30px; cursor: pointer; transition: color 0.3s;">&times;</span>
            <div
                style="background: #fff; padding: 40px; border-radius: 20px; width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                <p id="alert-text"
                    style="margin-bottom:-20px; text-align: center; color: #333;font-size:20px;color:red">Có lỗi</p>

            </div>
            <button type="submit" class="button-27 closexxx"
                style="margin-bottom: 30px; background-color: #010101; color: #fff; padding: 14px; border-radius: 10px; border: none; cursor: pointer; width:170px; font-size: 16px;">
                Xác nhận
            </button>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const closeButtonsxxx = document.querySelectorAll('.closexxx');
        closeButtonsxxx.forEach(async function (button) {
            button.onclick = function () {
                $('#alertModal').modal('hide');
            };
        });
    });

    //them vao gio hang
    async function themNhanh(product_id) {
        const token = localStorage.getItem("token");

        if (!token) {
            document.getElementById("alert-text").innerHTML = "Vui lòng đăng nhập!";
            $("#alertModal").modal("show");
            $("#alertModal").on("hidden.bs.modal", function () {
                window.location.href = "/account/login";
                return;
            });
        }
        let spId = product_id;
        let soLuong = 1;

        let formData = {
            product_id: spId,
            quantity: soLuong
        };

        try {
            const response = await fetch('http://localhost:3003/cart', {
                method: "POST",
                headers: {
                    "Authorization": `Bearer ${token}`,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            });

            const data = await response.json();

            if (data.message === "Vui lòng đăng nhập!") {
                document.getElementById("alert-text").innerHTML = "Vui lòng đăng nhập!";
                $("#alertModal").modal("show");
                $("#alertModal").on("hidden.bs.modal", function () {
                    window.location.href = "/account/login";
                });
                return; // Không gọi updateCart nếu chưa đăng nhập
            }
            else if(data.message=="Số lượng sản phẩm trong kho có hạn!") {
                document.getElementById("alert-text").innerHTML = data.message;
                $("#alertModal").modal("show");
            }

            await updateCart();
        } catch (error) {
            console.error("Lỗi fetch API:", error);
        }

    }

    //cap nhat gio hang
    async function updateCart() {
        const cartItems = document.getElementById("cartItems");
        const token = localStorage.getItem("token");
        fetch("http://localhost:3003/cart", {
            method: "GET",
            headers: {
                "Authorization": `Bearer ${token}`,
            }
        })
            .then(async (response) => {
                const data = await response.json();
                return { items: data.cartItems, sum: data.sum };
            })
            .then(({ items, sum }) => {
                cartItems.innerHTML = "";
                if (items.length === 0) {
                    cartItems.innerHTML = `<hr style="border: none; border-top: 1px solid #ccc; margin: 10px 0;">
                                            <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                                                <i class="fas fa-box-open" style="font-size: 18px; color: #525252;"></i>
                                                <p style="font-size: 14px; margin: 0;">Chưa có sản phẩm</p>
                                            </div>`;
                    return;
                }
                items.forEach(item => {
                    const div = document.createElement("div");
                    div.classList.add("cart-item");
                    div.innerHTML = `
                    <div  style="text-decoration: none; color: inherit;border: none; background: #fff;
                            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); margin-top: 10px;border-radius: 10px;padding:3px;position: relative;">
                        <div class="row g-0 h-100">
                            <a href="/product/${item.product_id}" class="col-md-4 d-flex justify-content-center align-items-center;">
                                <img src="${item.mainImg}" class="img-fluid" alt="Image" style="height: 100px; width: auto; object-fit: fill; border-radius: 0; border: none;">
                            </a>
                            <div class="col-md-8">
                                <div class="card-body text-start" style="padding: 5px; height: 100px; display: flex; flex-direction: column; justify-content: center;">
                                    <h5 class="card-title"
                                        style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; white-space: normal; margin: 0;
                                        text-align: left; font-size: 15px;margin-bottom: 5px;margin-top:5px;font-weight: 600;">
                                        ${item.name}
                                    </h5>
                                    <div style="display:flex;justify-content:space-between">
                                    <p class="card-text" style="margin-top: 10px; text-align: center; font-size: 12px;">
                                        <span style="color: red;font-size: 13px;font-weight: 600;">${item.price.toLocaleString('vi-VN')}₫</span>
                                    </p>
                                    <div class="quantity-container" style="display: flex;justify-content: center;align-items: center;gap: 3px;margin-top:0px;margin-top: -11px;margin-right: 15px;">
                                        <button type="button" class="quantity-btn" onclick="decrementQuantityCart(${item.cart_id},${item.product_id})" style="width: 20px; height: 20px; padding: 0;font-size: 12px;">-</button>
                                        <div style="display: flex; align-items: center; justify-content: center; height: 20px;">
                                            <input type="number" id="${item.cart_id}" name="soluong" value="${item.quantity}" min="1" max="10" readonly 
                                                style="width: 30px; height: 20px; font-size: 12px; text-align: right; line-height: 20px; padding: 0;">
                                        </div>
                                        <button type="button" class="quantity-btn" onclick="incrementQuantityCart(${item.cart_id},${item.product_id})" style="width: 20px;height: 20px;padding: 0;font-size: 12px;">+</button>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <i class="bi bi-x"  onclick=xoa(${item.cart_id})></i>
                        </div>
                    </div>`;
                    cartItems.appendChild(div);
                });
                const tongGia = document.createElement("div");
                tongGia.innerHTML = `
            <div style="display:flex; justify-content:space-between; padding: 10px;margin-top:5px">
                <p style="font-weight:400;">Tổng giá:</p>
                <p style="color: red;font-weight:600;">${sum.toLocaleString('vi-VN')}₫</p>
            </div>
            <button type="button" class="button-27" 
                  style="width: 98%; margin-left: 4px; margin-top: -5px; display: flex; align-items: center; justify-content: center; gap: 8px;" 
                  onclick="checkOut()">
                <i class="bi bi-credit-card" style="font-size: 20px;"></i> 
                <span>Thanh toán</span>
            </button>
            `;

                cartItems.appendChild(tongGia);
            })
            .catch((error) => {
                const empty = document.createElement("div");
                empty.innerHTML = `<hr style="border: none; border-top: 1px solid #ccc; margin: 10px 0;">
                                    <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                                        <i class="fas fa-box-open" style="font-size: 18px; color: #525252;"></i>
                                        <p style="font-size: 14px; margin: 0;">Chưa có sản phẩm</p>
                                    </div>`;
                cartItems.appendChild(empty);

                console.error("Lỗi:", error);
            });
    }

    //hieu ung them vao gio
    document.addEventListener("DOMContentLoaded", function () {
        const buyButtons = document.querySelectorAll(".buy-button");
        const cartButton = document.getElementById("cartButton");

        buyButtons.forEach(button => {
            button.addEventListener("click", function () {
                // Thêm hiệu ứng rung
                cartButton.classList.add("shake");

                // Xóa hiệu ứng sau 400ms
                setTimeout(() => {
                    cartButton.classList.remove("shake");
                }, 400);
            });
        });
    });

</script>